<dialog id="ingredient-edit-modal">
    <form action="/user/pantry" method="POST">
        <header>
            <div class="title-block">
                    <h1>Add a New Pantry Item</h1>
                <p id="modal-message" class="hide"></p>
            </div>
            <div class="btn-block">
                <button type="submit" class="action-btn">Add</button>
            </div>
        </header>
        
        <section>
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required>
    
            <label for="category">Category</label>
            <input id="category" name="category" type="text" placeholder="e.g. Meat or dairy or vegetable">
    
            <label for="img">Image URL</label>
            <input id="img" name="img" type="text">

            <label for="quantity">Quantity</label>
            <input id="quantity" name="quantity" type="text">

            <label for="expires">Expiration Date</label>
            <input id="expires" name="expires" type="date">

            <label for="notes">notes</label>
            <textarea id="notes" name="notes">
            </textarea>
        </section>
    </form>
</dialog>