<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', { title: "Login" }) %>
</head>
<body>
    <%- include('../partials/headbar.ejs') %>

        <div class="signin-container">
            <h1>Sign Into Your Account</h1>
            <form action="/auth/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" />

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" />

                <button type="submit">Login</button>
            </form>
        </div>
</body>
</html>