<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title:user.name, stylesheets:['profile'] }) %>
</head>
<body>
    <%- include('../partials/headbar.ejs') %>
    <%- include('./partials/nav.ejs', {classList:'show', page:'Recipe'}) %>
</body>
</html>