<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', { title: "Register" }) %>
</head>
<body>
    <%- include('../partials/headbar.ejs') %>
        <div class="singup-container">
            <h1>Create a new FREE account</h1>
            <form action="/auth/register" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
                
                <label for="displayname">Display Name:</label>
                <input type="text" name="displayname" id="displayname" required>

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>

                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
                
                <button type="submit">Sign up</button>
            </form>
        </div>
</body>
</html>